<section class="my-bio bg-secondary bg-gradient">
    <div class="container">
        <div class="row">
            <%= render partial: 'user', locals: { user: @user } %>
        </div>
        <div class="card my-4">
            <%= render partial: 'bio', locals: { user: @user } %>
        </div>
        <div class="card my-4">
            <div class="card-header"><h4>Post #1</h4></div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
                feature the Bootstrap 5 card component!</div>
            <div class="media-info">
                <ul>
                    <li><a href="#">Comments: 7</a></li>
                    <li><a href="#">Likes: 7</a></li>
                </ul>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header"><h4>Post #2</h4></div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
                feature the Bootstrap 5 card component!</div>
            <div class="media-info">
                <ul>
                    <li><a href="#">Comments: 7</a></li>
                    <li><a href="#">Likes: 7</a></li>
                </ul>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header"><h4>Post #3</h4></div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
                feature the Bootstrap 5 card component!</div>
            <div class="media-info">
                <ul>
                    <li><a href="#">Comments: 7</a></li>
                    <li><a href="#">Likes: 7</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <a href="/users/1/posts"><button class="btn btn-success" type="button">Show All Posts</button></a>
        </div>
    </div>
</section>