<section class="my-bio bg-secondary bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="media blog-media">
                    <a href="blog-post-left-sidebar.html"><img class="d-flex"
                            src="https://www.bootdey.com/image/350x380/6495ED/000000"
                            alt="Generic placeholder image"></a>
                    <div class="circle">
                        <h6 class="day">Last Post</h6>
                        <span class="month">4 sep</span>
                    </div>
                    <div class="media-body">
                        <a href="/users/1">
                            <h1 class="mt-4 text-center display-4">User Name</h1>
                        </a>
                        <ul>
                            <li><a href="blog-post-left-sidebar.html">Number of Posts: 7</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h4>Post #1</h4>
            </div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use,
                and
                feature the Bootstrap 5 card component!</div>
            <div class="media-info">
                <ul>
                    <li><a href="#">Comments: 7</a></li>
                    <li><a href="#">Likes: 7</a></li>
                </ul>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Comments
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <!-- Single comment-->
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h4>Post #2</h4>
            </div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use,
                and
                feature the Bootstrap 5 card component!</div>
            <div class="media-info">
                <ul>
                    <li><a href="#">Comments: 7</a></li>
                    <li><a href="#">Likes: 7</a></li>
                </ul>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Comments
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <!-- Single comment-->
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="card-header">
                <h4>Post #3</h4>
            </div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use,
                and
                feature the Bootstrap 5 card component!</div>
            <div class="media-info">
                <ul>
                    <li><a href="#">Comments: 7</a></li>
                    <li><a href="#">Likes: 7</a></li>
                </ul>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Comments
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <!-- Single comment-->
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="/users/1/posts"><button class="btn btn-success" type="button">Pagination</button></a>
        </div>
    </div>
</section>